body {
  background-color: #e60000;
}

#app {
  background-color: #fff;
  padding: 40px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #ccc;
  padding: 0 28px;
  line-height: 42px;
}
